extends base

block content
  .main
    .box.d-flex.border.border-5.rounded.mx-auto.p-5.transparent-gradient
      form.form-signup.w-100
        .mb-5
          h1.text-success CREATE YOUR ACCOUNT
        .mb-3
          label.form-label(for='email') Email address
          input#email.form-control(type='email' aria-describedby='emailHelp')
          #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .mb-3
          label.form-label(for='username') Username
          input#username.form-control(type='text' required, minlength='4')
        .mb-3
          label.form-label(for='firstName') First Name
          input#firstName.form-control(type='text' required)
        .mb-3
          label.form-label(for='lastName') Last Name
          input#lastName.form-control(type='text' required)
        .mb-3
          label.form-label(for='password') Password
          input#password.form-control(type='password' required, minlength='8')
        .mb-3
          label.form-label(for='passwordConfirm') Password confirm
          input#passwordConfirm.form-control(type='password' required, minlength='8')
          
        button.btn.btn-lg.btn-success(type='submit') Sign up
      
      .hide.w-100
        .d-flex.flex-column.align-items-center
          img.logo-greencode-lg.mb-5(src="/img/logo/greencode.png" alt="GreenCode logo")
          h4.text-success.mb-2 Already have a GreenCode account?
          h5.mb-3 Log in now!
          a.btn.btn-sm.btn-light(href="/login") Log in
